*{
    padding: 0;
    margin: 0;
}


.navbar ul li:hover, .navbar ul li:focus, .navbar ul li:active{
    background-color: #36d191;
}

.profile{
    justify-content: center;
    text-align: center;
}
.profile img{
    width: 170px;
    height: 170px;
    margin-left: 20px;
    margin-top: 10px;

}
.work{
    margin: 10px;
}
.work a{
    text-decoration: none;
}
.work h3 a{
    color: #3E8D35;
}
.summary{
    display: block;
    border: 1px solid #15314d ;
    background-color: #696965;
    color: aliceblue;  
    padding: 5px;
    margin-left: 10%;
    margin-right:10%;
    text-align: center;
    font-size: 22px;
}
hr{
    margin: 5px 20px 5px 20px;
}
.interests, .skills, .contact{
    margin-left: 40px;
    padding: 10px;
}