@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Exo:wght@100&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,500;1,600;1,700&family=Monoton&family=Parisienne&family=Play:wght@400;700&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
font-family: 'Exo', sans-serif;
font-family: 'IBM Plex Serif', serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Monoton', cursive;
font-family: 'Play', sans-serif;
}


.navbar ul li:hover, .navbar ul li:focus, .navbar ul li:active{
    background-color: #36d191;
}
.navbar-collapse{
    justify-content: flex-end;
}

.card{
    text-align: center;
}
.profile-pic{
    
    text-align: center;
    display: block;
}

.profile-pic img{
    width: 170px;
    height: 170px;
    margin-top: 10px;
    border-radius: 50%;
    padding: 0;

}
.name{
    font-family: 'Press Start 2P', cursive;
}
 a{
    text-decoration: none;
}

.accordion-body{
    font-weight: 200;
}
form{
    width: 400px;
    height: 400px;
}
.form-contact{
    text-align: center;
    display: block;
}